body {
	margin: 0;
	padding: 0;
	background: url('https://gotravelaz.com/sites/default/files/drawn-question-mark-white-background-565134-1764159.png');
	font-family: haettenschweiler;
	box-sizing: border-box;
	height: 100vh;
	outline: none!important;
	overflow: hidden;
	overflow-x: hidden!important;
}
body::-webkit-scrollbar {
	width: 1em;
  }
   
  body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
	background-color: rgb(36, 66, 36);
	outline: 1px solid rgb(36, 66, 36);
  }
.mainback {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
}
a {
	text-decoration: none!important;
}
.minijumbo {
	background-color: #e7eaed;
}
/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
	padding: 1rem;
  }
  
  /*--- Bootstrap Mobile Gutter Fix --*/
  .row, .container-fluid {
  margin-left: 0px!important;
  margin-right: 0px!important;
  }
  
  /*--- Fix for Fixed Navbar jumping on scroll --*/

  
  /*--- Fixed Landing Page Section --*/
  .landing {
	position: relative;
	width: 100%;
	height: 100vh;
	display: table;
	z-index: -1;
  }
  .home-wrap {
	clip: rect(0px, 100vw, 100vh, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
  .home-inner {
	position: fixed;
	display: table;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url('https://i.pinimg.com/originals/da/a0/d7/daa0d79ac14d65f295fd2e9fac3b2b3d.jpg');
	background-position: center center;
  }
div h1{
	  z-index: 900;
  }
.navbar-brand img {
	height: 50px;
}
.nav-item .nav-link {
	color:rgb(37, 37, 37)!important;
	font-size: 22px;
}
.nav-item {
	padding-right: 12px;
	letter-spacing: .6px;
}
.nav-item .nav-link:hover,.nav-item .nav-link:active,.nav-item .active {
	color: #1c7c1c!important;
}
.mainit {
	position: relative;
	opacity: 0.98;
}
footer {
	width: 100%;
	/* padding: 20px; */
	background: #181819;
	/* position: absolute; */
	bottom: -100px;
	color: white;
	font-size: 22px;
	letter-spacing: 1.7px;
}
footer i {
	margin-right: 10px;
}
.carousel {
	height: 70vh;
	z-index: 20!important;
	overflow: hidden!important;
	background: red;
}
@media screen and (max-width:1199px){
	.swiper-slide img {
		top: 0!important;
	}
}
@media screen and (max-width:991px)
{	
	.swiper-container {
		margin-bottom: 100px;
		height: 320px!important;
	}
	.swiper-slide img {
		top: 0px!important;
		height: 100%;
	}
	.imginfo {
		height: 200px!important;
	}
	.cardib {
		/* display: none; */
		overflow: hidden;
		height: 200px!important;
	}
	.cardib img {
		top:0;
		left: 0;
		bottom: 0;
		width: 100%!important;
		height: 200px!important;
	}
	.carousel {
		height: 50vh;
		overflow: hidden;
	}
	.carousel-item img{
		height: 100%;
		width: auto;
	}
	.minibio {
		margin-top: -40px;
	}
}
@media screen and (max-width:768px)
{	
	.swiper-container {
		height: 250px!important;
	}
	.cardib {
		/* display: none; */
		overflow: hidden;
		height: 250px;
	}
	.cardib img {
		top:0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%!important;
		height: 200px!important;
	}
	.carousel {
		height: 40vh;
	}
	.carousel-item img{
		height: 100%;
		width: auto;
	}
}
@media screen and (max-width:575px)
{	
	.swiper-container {
		height: 250px!important;
	}
	.imginfo {
		height: 250px!important;
	}
	.cardib {
		/* display: none; */
		overflow: hidden;
		max-height: 300px!important;
	}
	.cardib img {
		top:0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%!important;
		height: 300px!important;
	}
}
.carousel-item img{
	width: 100%;
}
.d-block:first-child {
	position: relative;
	top:-100px;
}
.jumbotron {
	border-radius: 0;
	padding: 20px;
	margin-bottom: 0;
}
.minibio {
	font-size: 17px;
	letter-spacing: .8px;
}
.greeny	{
	color: #1c7c1c;
}
.minibio p {
	display: block;
	padding-bottom: 10px;
	
}
.nextprev,.nextprev:active,.nextprev:focus {
	background: rgba(0, 0, 0, 1)!important;
}
.carousel-control-next,.carousel-control-prev {
	z-index: 99!important;
}
.btn-greeny {
	background: #1c7c1c;
	border: #1c7c1c;
	padding: 10px 20px;
	font-size: 20px;
	letter-spacing: 1.9px;
	text-transform: uppercase;
	color: white;
}
.btn-greeny:hover,.btn-greeny:active
{
	background: #0a3d0a!important;
	border: #0a3d0a!important; 
	outline: #0a3d0a!important; 
}
.btn-grey {
	background: #181819;
	color: white;
	border: #181819;
	padding: 10px 20px;
	font-size: 20px;
	letter-spacing: 1.9px;
	text-transform: uppercase;
}
.btn-grey:hover,.btn-grey:active {
	background: #141414!important;
}
.jumbo {
	background: rgb(36, 66, 36);
	color: white;
	font-family: haettenschweiler;
	padding: 20px 30px;
}
.jumbo h1 {
	font-size: 70px;
	color: #1c7c1c;
	letter-spacing: 2px;
	margin-bottom: 15px;
}
.jumbo .h3 {
	letter-spacing: .7px;
}
.jumbo i {
	margin-left: 5px;
	color: #086908;
	font-size: 28px;
	animation: bigging .5s infinite;
	position: relative;
}
.jumbo .col-lg-7 {
	position: relative;
}
@keyframes bigging{
	0% {
		font-size: 28px;
	}
	50% {
		font-size: 32px;
	}
	100% {
		font-size: 28px;
	}
}
.imgss  {
	background: rgba(30, 255, 0, 0.9);
	position: relative;
	}
.imgss img {
	opacity: .5;
	position: absolute;
	top: 0;
	left: 0;
}
.boxx {
	background: rgba(0, 0, 0, 0.5);
	height: auto;
	position: relative; 
	width: 100%;
	overflow-x: hidden;
}
.imgg {
	opacity: 1;
	width: 100%;
	background-size: cover;
	height: 100%; 
	background-image: url('http://www.sompaisoscatalans.cat/simage/133/1331011/the-riddler-wallpaper.jpg');
	background-attachment: fixed;
}
.imgg .col-md-4 {
	height: auto;
}
.shadowin {
	overflow-y: hidden;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .75);
}
.jumbogal{
	background: #181819;
}
.shadowin h4 {
	letter-spacing: .6px;
}
.shadowin ul {
	overflow-y: hidden;
	display: flex;
}
.row li {
	overflow-y: hidden;
	margin-bottom: 20px!important;
	padding-bottom: 40px!important;
	/* height: 200px; */
	color:red;
	overflow: hidden;
}
.pagination {
	box-sizing: content-box;
	/* width: 100px; */
	padding:  0 20px;
	position: relative;
	left: 50%;
	top:25px;
    justify-content: center;
	transform: translate(-50%,-50%);
}

.cardib {
	height: 250px;
	overflow: hidden;
	border: none;
}
.cardib img {
	position: relative;
	height: 250px;
}
.jumbo2 {
	background: #a2a2a2;
}
.loader {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f3f4f5;
}
.loading {
	width: 200px;
	height: 200px;
	background: url("http://wsdesign.in/app/webroot/img/loader/support_load.gif");
	background-repeat: no-repeat;
	z-index: 1001;
	position: absolute;
	top: 50vh; 
	left: 50vw;
	transform: translate(-50%,-50%);
}
body {
	overflow: hidden;
}
.normaltxt {
	letter-spacing: .22px;
	font-size: 18px;
}
.imginfo {
	height: 300px;
	width: 100%;
}

.swiper-container {
	width: 100%;
	height: 350px;
	margin-bottom: 0;
	overflow: hidden;
  }
  .swiper-slide {	
	overflow: hidden;
	text-align: center;
	font-size: 18px;
	height: 100%;
	width: 100%;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	position: relative;
  }
  .swiper-slide img {
	  width: 100%;
	  position: relative;
  }
  .swiper-slide:nth-child(1) img{
	  top: 80px;
  }
  .swiper-slide:nth-child(2) img{
	  top: -30px;
  }
  .swiper-slide:nth-child(3) img{
	  top: 30px;
  }
  .swiper-slide:nth-child(4) img{
	  top: 50px;
  }
  .details {
	  position: absolute;
	  z-index: 999;
	  top: 10px;
	  left: 10px;
	  padding: 10px;
	  background: #181819;
	  color: white;
	  letter-spacing: .8px;
	  border-radius: 4px;
	  text-transform: uppercase;
  }
  .details:hover {
	  background: rgb(36, 66, 36);
	  cursor: pointer;
  }
  .details:active{
	  transform: scale(.96);
  }
.minhei {
	min-height: 300px;
}
.rightanimation,.leftanimation {
	visibility: hidden;
}
.cong {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 100px;
	z-index: -1;
}
.goup {
	padding: 1px 9px 1px 11px;
	font-size: 30px;
	display: inline-block;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 99;
}
.goupHover {
	background-color: red;
	transform: scale(1.05);
}